.oya {
    width: 980px;
    height: 200px;
    background: #f6f5f4;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

.ko-wrap {
    overflow: hidden;
    position: relative;
    top: calc(200px / 2 - 100px / 2);
}

.ko-wrap1 {
    float: left;    
}

.ko-wrap2 {
    float: right;
}

.ko {
    height: 100px;
    width: 100px;
    float: left;
    margin-right: 10px;
}

.ko:last-child {
    margin-right: inherit;
}

.ko1 {
    background: #ff9abc;
}

.ko2 {
    background: #f9b9ff;
}

.ko3 {
    background: #cbb8ff;
}

.ko4 {
    background: #acb5ff;
}